/************************* Font  *************************/
@font-face
{
	font-family: 'Raleway';
	src:url(font/Raleway-VariableFont_wght.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway_bold';
	src: url(font/static/Raleway-Bold.ttf);
	font-weight: normal;
	font-style: normal;
}

/************************* Entire page *************************/

#bloc_page
{
	width: 1000px;
	margin:auto;
}

body
{
	font-family: 'Raleway';
}

main
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

/************************* Header *************************/

header
{
	display: flex;
	justify-content: space-between;
	align-content: center;
	margin: 0 0 15px 0;
}

nav ul
{
	display: flex;
	list-style: none;
}

nav li
{
	margin: 0 20px 0 20px ;
}

nav a 
{
	padding-bottom: 3px;
	text-decoration: none;
	color: #0065fc;
	font-size: 13px;
	font-weight: bold;
}

nav span
{
	font-family: 'Raleway_Bold';
}

nav a:hover
{
	color:black;
}

/************************* Search banner *************************/


#search_banner
{
	display: flex;
	flex-direction: column;
}

/* Title */

#title h1
{
	font-size: 18px;
	font-family: 'Raleway_Bold';
}

#title p
{
	font-size: 13px;
	margin: -10px 0 15px 0;
}

/* Search bar */

#search_bar
{
	display:flex;
	flex-direction: row;
	align-self: flex-start;
	height: 40px;
	margin: 0 0 15px 0;
}

#position
{
	background-color: #f2f2f2;
	border-style: none;
	border-radius: 10px 0 0 10px;
	width: 12%;
}

#position:hover
{
	background-color: #deebff;
}

#position:active
{
	background-color: #f2f2f2;
}

#marker_logo
{
	width: 15px;
	height: 15px;
	margin: 2px 0 0 3px;
}

#search
{
	width: 40%;
	font-family: 'Raleway_Bold';
	width: 50%;
	border-color: #f2f2f2;
	border-style: solid;
}

#search_button
{
	background-color: #0065fc;
	color: white;
	border-style: none;
	border-radius: 0 10px 10px 0 ;
	width:35%
}

#font_search_button
{
	font-family: 'Raleway_Bold';
}

#search_button:hover
{
	background-color: #deebff;
	color:black;
}

#search_button:active
{
	background-color: #0065fc;
	color: white;
}
/* Filters */

#filter
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	font-family: 'Raleway_Bold';
	margin: 10px 0 15px 0;
}

#filter p
{
	margin: 0 10px 0 0;
}

.button_filter
{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: white;
	border-radius: 10px 10px 10px 10px;
	font-family: 'Raleway_Bold';
	color: black;
	margin: 0 10px 0 10px;
	height:40px;
	border-style: solid;
	border-color: #f2f2f2 ;
	border-radius: 20px 20px 20px 20px;
}

.button_filter:hover
{
	background-color:#deebff ;
	border-color: #deebff;
}

.button_filter:active
{
	background-color: white;
}

.button_circle
{
	background-color:#deebff;
	border-radius: 20px 20px 20px 20px;
	width: 40px;
	height: 40px;
	margin: 0 10px 0 -10px;
}

#money_logo, #child_logo, #heart_logo, #pet_logo
{
	width: 15px;
	height: 15px;
	margin: 13px 0 0 0;
}

/* Info */

#info
{
	display: flex;
	flex-direction: row;
	justify-content:flex-start; 
	align-items: center;
	font-size: 13px;
}
#circle_info
{
	border-radius: 12px 12px 12px 12px;
	width: 20px;
	height:20px;
	border-style: solid;
	border-color: #f2f2f2;
	margin: 0 10px 0 0;
}

#info_logo
{
	width: 12px;
	height: 12px;
	margin: 4px 0 0 4px;

}

/************************* lodging *************************/

/* Section lodging */

#lodging_and_popular
{
	display: flex;
	flex-direction: row;
	align-items:stretch;
	justify-content: space-between;
	margin:0 10px 0 10px;
}

#lodging
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #f2f2f2;
	width: 75%;
	margin: 0 15px 0 0;
	border-radius: 20px 20px 20px 20px;
}

#lodging_title
{
	margin:20px 0 0 25px;
}

#lodging_title h2
{
	font-family: 'Raleway_Bold';
	font-size: 18px;
}

#show_more
{
	margin: 20px 0 30px 25px;
}

#show_more a
{
	font-size: 13px;
	text-decoration: none;
	color: black;
	font-family: 'Raleway_Bold';
}

#show_more a:hover
{
	color:#0065fc
}

/* Lodging Thumbnail */

#lodging_thumbnail_container
{
	display: flex;
	justify-content: space-between;
	flex-direction: column;	
}

.lodging_thumbnail_half_container
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.thumbnail_link
{
	text-decoration: none;
	color: black;	
}

.lodging_thumbnail
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	background-color: white;
	border-radius: 15px 15px 15px 15px;
	margin: 10px 10px 10px 10px;
	box-shadow: 2px 2px 5px grey;
}

.lodging_thumbnail:hover
{
	background-color: #deebff;
}

.lodging_thumbnail:active
{
	background-color: white;
}

.lodging_thumbnail h3
{
	font-family: 'Raleway_Bold';
	font-size: 13px;
	margin: 0 10px 0 10px;
}

.lodging_thumbnail p
{
	font-size: 13px;
	margin: 0 10px 5px 10px;
}

.lodging_thumbnail_image
{
	margin: 3px 3px 0 3px;		
}

.lodging_thumbnail_image img
{
	border-radius: 15px 15px 0 0 ;
	width:180px;
	height: 100px;
	object-fit: cover;
}

.star_notation
{
	display: flex;
	flex-direction: row;
	justify-content: start;
	margin: 0 0 10px 10px;
}

.star_notation img
{
	height: 10px;
	width: 10px;
}

/************************* Popular *************************/

#popular
{
	background-color: #f2f2f2;
	width:35%;
	margin:0 0 0 15px;
	border-radius: 20px 20px 20px 20px;
}

#popular_title
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 20px 10px 20px;
}

#popular_title img
{
	width: 20px;
	height: 20px;
}

#popular_title h2
{
	font-family: 'Raleway_Bold';
	font-size: 18px;
}

.popular_thumbnail
{
	display: flex;
	flex-direction: row;
	background-color: white;
	margin: 10px 20px 30px 20px;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 2px 2px 5px grey;
}

.popular_thumbnail:hover
{
	background-color: #deebff;
}

.popular_thumbnail:active
{
	background-color: white;
}

.popular_thumbnail_text
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.popular_thumbnail_text h3
{
	font-family: 'Raleway_Bold';
	font-size: 13px;
	margin: 10px 10px 5px 10px;
}

.popular_thumbnail_text p
{
	font-size: 13px;
	margin: 5px 10px 5px 10px;
}

.popular_thumbnail_image
{
	margin: 3px 3px 0 3px;		
}

.popular_thumbnail_image img
{
	border-radius:15px 0 0 15px ;
	width:100px;
	height: 100px;
	object-fit: cover;
}

/************************* Activities *************************/


#activities
{
	width:100%; 
	margin: 10px 0 10px 0;
}

#activities_title h2
{
	font-family: 'Raleway_Bold';
	font-size: 18px;
}

#activities_thumbnail_container
{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: stretch;
	background-color: white;		
}

.activities_thumbnail
{
	display: flex;
	flex-direction: column;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 2px 2px 5px grey;
	margin: 10px 0 10px 0;	
}

.activities_thumbnail h3
{
	font-size: 13px;
	font-family: 'Raleway_Bold';
	margin: 10px 0 10px 10px;
}

.activities_thumbnail:hover
{
	background-color: #deebff;
}

.activities_thumbnail:active
{
	background-color: white;
}

.activities_thumbnail_image
{
	border-radius: 15px 15px 0 0;
	width:220px;
}

.activities_thumbnail_image img 
{ 
	border-radius:15px 15px 0 0;
	object-fit: cover;
	width:220px;			
}

.activities_thumbnail_half_container img
{
	height:300px;
}

.activities_thumbnail_half_container_2
{
	display: flex;
	flex-direction: column;
	justify-content: stretch;
}

.activities_thumbnail_half_container_2 img
{
	height:120px;
}

#pomegues img
{
	height: 140px;
}

#frioul img
{
	height: 100px;
}

/************************* Footer *************************/

footer
{
	display: flex;
	justify-content: flex-start;
	background-color: #f2f2f2;
}


footer div
{
	display:block;
	
	
	margin-right: 60px;		
}

footer ul
{
	font-size: 13px;
	margin: 0 50px 0 0;
}

.footer_title
{
	font-family: 'Raleway_Bold';
	margin: 20px 0 15px 0;	
}

footer li
{	
	display: list-item;
	list-style-type: none;
	margin:0 0 10px 0;
}

footer a
{
	text-decoration: none;
	color: black;
}

